<div id="focus-trap-container" #focusTrapContainer>
  <div class="doc-viewer-header">
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlG'"
      (click)="handleCtrlG()"
    >
      Ctrl + G
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlMinus'"
      (click)="handleCtrlMinus()"
    >
      Ctrl + -
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlPlus'"
      (click)="handleCtrlPlus()"
    >
      Ctrl + +
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlS'"
      (click)="handleCtrlS()"
    >
      Ctrl + S
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrl1'"
      (click)="handleCtrl1()"
    >
      Ctrl + 1
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrl3'"
      (click)="handleCtrl3()"
    >
      Ctrl + 3
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrl0'"
      (click)="handleCtrl0()"
    >
      Ctrl + 0
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlE'"
      (click)="handleCtrlE()"
    >
      Ctrl + E
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlShiftJ'"
      (click)="handleCtrlShiftJ()"
    >
      Ctrl + Shift + J
    </div>
    <div
      class="header-item"
      [class.active]="activeShortcut === 'ctrlShiftK'"
      (click)="handleCtrlShiftK()"
    >
      Ctrl + Shift + K
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="activeTabIndex">
    <mat-tab label="ctrl + 5">
      <form [formGroup]="docForm">
        <ng-container *ngFor="let field of fields; let i = index">
          <mat-form-field appearance="fill">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              #tabFocus
              (focus)="onFocus(i)"
              [formControlName]="field.id"
            />
            <mat-error *ngIf="docForm.get(field.id)?.hasError('required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </ng-container>

        <button
          #tabFocus
          mat-raised-button
          color="primary"
          [disabled]="docForm.invalid"
          (click)="handleSubmit()"
        >
          Submit
        </button>
      </form>
    </mat-tab>

    <!-- Remaining Tabs -->
    <mat-tab label="ctrl + 6">
      <p>Content for Tab 2</p>
    </mat-tab>
    <mat-tab label="ctrl + 7">
      <p>Content for Tab 3</p>
    </mat-tab>
  </mat-tab-group>
</div>
