<div class="controls">
  <p-button (click)="zoomIn()">Zoom In</p-button>
  <p-button (click)="zoomOut()">Zoom Out</p-button>
  <p-button (click)="rotateClockwise()">Rotate +</p-button>
  <p-button (click)="rotateCounterClockwise()">Rotate -</p-button>
  <p-button (click)="reset()">Reset</p-button>
</div>

<div class="image-container" mwlResizable>
  <img
    [src]="imageSrc"
    alt="Draggable Image"
    [style.transform]="
      'scale(' + zoomLevel + ') rotate(' + rotationAngle + 'deg)'
    "
    class="image"
  />
</div>
